.hero-cont{
  position: relative;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 80;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 100%);   }
}
    .prev-hero{
      display: none;
        position: absolute;
        font-size: 32px;
        bottom:10%;
        left:40%;
        width: 20px;
        height: 30px;
        z-index: 99;
        color: white;
      }
      .next-hero{
        display: none;
        position: absolute;
        bottom:10%;
        right:40%;
        width: 20px;
        height: 30px;
        z-index: 99;
        color: white;
        font-size: 32px;

      }
.hero-slide{
    object-fit: cover;
    img{
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }
}
.slick-dots li.slick-active button::before{
  color: white !important;
}
.slick-dots li button::before{
  color: white !important;

  font-size: 14px !important;
  border: 1px solid white !important;
}
.slick-dots{
  z-index: 90;
  bottom: 10% !important;
}

@media (min-width: 768px) {
  .prev-hero{
    display: block;
  }

  .next-hero{
    display: block;
  }
}



