#movies-list{
    padding: 20px;
    width: 100%;

    .prev-movie{
      position: absolute;
      left:12px;
      bottom:50%;
      width: 20px;
      height: 30px;
      z-index: 99;
      background-color: #f44336;
    }
    .next-movie{
      position: absolute;
      right:12px;
      bottom:50%;
      width: 20px;
      height: 30px;
      z-index: 99;
      background-color: #f44336;
    }
}
.movie-box{
    border-radius: 12px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .movie-box:hover .av{
    transform: translate3d(0,0,20px);
    background-color: #f44336;
  }
  .movie-box .av{
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    bottom: 0px;
    transform: translate3d(0,100%,20px);
    transition: all .4s ease-in-out;
  }
  
  
  .movie-box .av .status{
  padding: 20px;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-size: .8rem;
  }

